/node_modules
# {"orgId":"ywVRldYr57hCgLNgK07fX8Zi","projectId":"prj_IFFGGR5DcTwz8rN3Zm4GC7CgcrNA"} project.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
